/*fuente externa*/
@font-face {
		font-family: Montserrat-Regular;
		src:url(../Fuentes/Montserrat-Regular.otf) format("opentype");
}
@font-face {
        font-family: Montserrat-Black;
        src:url(../Fuentes/Montserrat-Black.otf) format("opentype");
}
@font-face {
        font-family: Montserrat-SemiBold;
        src:url(../Fuentes/Montserrat-SemiBold.otf) format("opentype");
}
*{
    margin: 0px;
    list-style: none;
    padding: 0px;
    font-family: Montserrat-Regular;
    text-decoration: none;
}
.navFixe{
    width: 100%;
    top: 0;
    position: fixed !important;
    transition: all 5s;
    z-index: 100;
}
.nav{
    width: 100%;
    background: #ff4d4d;
    height: 31px;
    padding-bottom: 20px;
    z-index: 4;   
}
.nav > li {
    float: left;
}
.nav li a{
    background: #ff4d4d;
    color: white;
    display: block;
    padding: 16px 30px;     
}
.nav li a:hover, ul li:hover a{
    background-color: white;
    color: #737373;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}
.nav li:hover ul{
    display: block;
}
.nav li ul li a{
    background-color: white;
    color: #737373;
    padding: 16px 30px;
}
.nav li ul li a:hover{
    background-color: white;
    color: #ff4d4d;
    padding: 16px 30px;
}

/* Contenedor general */
#slider-wrapper {
position: relative;
width: 100%;
height: 500px;
font-family: Montserrat-Regular;
font-size: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
/* Contenedor slider */
#slider {
position: relative;
width: 100%;
height: 500px;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#slider > a {
position:absolute;
top:0;
left:0;
width: 100%;
min-height: 100%;
}
/* Ajuste de las imágenes */
#slider img {
width: 100%;
height: 100%;
position: absolute;
margin:0;
padding:0; 
border:0;

}
/* Texto que acompaña a cada imagen */
#slider p {
position: absolute;
bottom: 0%;
left: 0;
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 100%;
height: 10%;
margin:0;
padding: 5px 0;
background: rgba(0,0,0,0);
color: white;
font-size: 0px;
line-height: 18px;
text-align:center;
transition: all 0.3s;
}
#slider p:hover{
    background: rgba(0,0,0,0.6);
    font-size: 20px;
    padding-top: 50px;
}
/* Flechas de navegación */
a.mas, a.menos {
position: absolute;
top: 45%;
z-index: 4;
width: 50px;
height: 50px;
text-align: center;
line-height: 30px;
font-size: 100px;
color: white;
text-decoration: none;
}
a.mas {
left: 100%;
margin-left: -50px;
}
header > a > img {
   margin: 10px 10px 0px;
}
article:first-child{
	margin: 0 auto;
    height: 400px;
    font-size: 25px;
    color: #6D6D6D;
    width: 100%;
}
article:first-child > h1 {
    font-family: Montserrat-Black;
    font-size: 85px;
    color: #ff4d4d;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
article:first-child > p {
	margin-left: 10%;
    text-align: center;
    width: 60%;
    float: left;
}
article:first-child > img {
	margin-top: -40px;
	margin-left: 5%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    transition: all .9s ease;
}
article:first-child > img:hover {
    border-radius: 50%;
    transform: scale(1.3);
}
article:nth-child(2){
    height: 300px;
    color: #6D6D6D;
    display: block;
    margin-top: -90px;
    font-size: 20px;
    height: 450px;
    float: left;
}
article:nth-child(2) > h1{
    font-family: Montserrat-SemiBold;
    color: #ff4d4d;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-bottom:55px;
}
article:nth-child(2) > img {
    margin-top: -50px;
    margin-left: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
    transition: all .9s ease;
}
article:nth-child(2) > p{
    float: left;
    margin-right: 160px;
    width: 60%;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: justify; 
}

article:nth-child(2) > img:hover {
    border-radius: 50%;
    transform: scale(1.3);
}
footer {
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
    background: #ff4d4d;
    text-align: center;
    padding: 20px 0px;
    z-index: 100;
}

.referencia {
    color: #fff;
    text-decoration: none;
}



.contenido input{
    float: right;
    display: block;
    padding: 12px 0px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
#input-search{
	border: none;
	padding-left: 10px;
	font-weight: bold;
	font-family: Montserrat-Regular;
	font-size: 17px;
    width: 200px;
    height: 40px;
    transition: all 0.5s;
}
#input-search:focus{
	outline:0px;
    width: 300px;
    transition: all 0.5s;
}

.content-search{
	margin-top: 51px;
    width: 100% !important;
    height: auto;
    position: absolute;
    top: auto;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 1;
    padding-bottom: 0px; 

}

.content-table{
    width: 100%;
    max-height: inherit;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content-table table{
    width: 100%;
}
tbody tr td a{
	color: white !important;
    width: 100% !important;
    display: block !important;
    padding: 10px !important;
    text-decoration: none;

}

tbody tr td a:hover{
	display: block !important;
	width: 10000% !important;
    background: rgba(0,0,0,0.7);
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}

h1{
	text-align: center;
	font-family: Montserrat-Black;
	color: #ff4d4d;
	font-size: 50px;
	margin-top: 20px;
	text-shadow: 3px 3px 5px grey;
}

h2 {
    margin: 10px 10px 10px 10px;
    color: #ff4d4d;
}

.nota {
    margin-top: -32px;
    width: 68%;
    float: right;
}
.nota > p{
    background: #649139;
    border-radius: 5px;
    width: 50px;
    height: 32px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.notaletra {
    float: right;
    width: 68%;
}
.notaletra > p{
    font-weight: bold;
    font-size: 25px;
    margin-top: -28px;
    margin-left: 55px;
}
.precio {
    width: 68%;
	float: right;
}
.precio > p {
    float: right;
    margin-right: 20px;
    font-size: 50px;
    font-weight: bold;
    margin-top: -54px;
    color: #ff4d4d;
}
main > img{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.resta{
    margin-top: 30px !important;
    margin: 0 auto;
    width: 80%;
    border: 5px solid #ff4d4d;
    padding: 20px;
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 60px;
}
.resta > .imagen {
    display: block;
    float: left;
    width: 30%;
    height: 250px;
}
.resta > .imagen > img{
    display: block;
    width: 100%;
    height: 100%;
}
.resta > .texto > h2{
    margin: 0px;
    margin-bottom: 10px;
}
.resta > .texto{
    height: auto;
    min-height: auto;
    position: relative;
    text-align: justify;
    width: 68%;
    display: block;
    float: right;
}
.resta > .texto > .direc{
    margin-top: 20px;
    margin-bottom: 60px;
}
.resta > .texto > .valoracion{  
    display: block;
    margin-top:22px;
}
#photos{
    display: block;
    margin: 0 auto !important;
    height: 500px;
}
#photo-gallery {
   width: 80%;
   margin: 0 auto;
}

#photos>ul {
   list-style: none;
   padding: 10px;
   display: block;
   text-align: center;
}

#photo-gallery li {
   text-decoration: none;
   max-width: 1000px;
   margin: 0 auto;
}
/* CARGANDO FOTOS*/

#photo-gallery .caja img {
   width: 290px;
   height: 290px;
   margin: 10px;
   float: left;
   display: block;
   border-radius: 5%;
   padding: 10px;
   -webkit-transition: 0.3s ease-in-out;
   -webkit-transform: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: 0.3s ease-in-out;
   transform: scale(1);
}

.bienvenida_turismo {
   text-align: center;
   width: 70%;
   float: left;
   margin-top: 30px;
   margin-left: 15%;
}

#photo-gallery .imagen1 {
   background-image: url(../Imagen/turistico/b0.jpg);
   background-size: 100% 100%;
}

#photo-gallery .imagen2 {
   background-image: url(../Imagen/turistico/b1.jpg);
   background-size: 100% 100%;
}

#photo-gallery .imagen3 {
   background-image: url(../Imagen/turistico/b2.jpg);
   background-size: 100% 100%;
}

#photo-gallery .imagen4 {
   background-image: url(./../Imagen/turistico/b3.jpg);
   background-size: 100% 100%;
}

#photo-gallery .imagen5 {
   background-image: url(../imagen/turistico/b4.jpg);
   background-size: 100% 100%;
}

#photo-gallery .imagen6 {
   background-image: url(../imagen/turistico/b5.jpg);
   background-size: 100% 100%;
}

/* Efento hover ne la imagenes  */

#photo-gallery .imagen1:hover {
   background-image: url(../imagen/turistico/b0_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photo-gallery .imagen2:hover {
   background-image: url(../imagen/turistico/b1_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photo-gallery .imagen3:hover {
   background-image: url(../imagen/turistico/b2_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photo-gallery .imagen4:hover {
   background-image: url(../imagen/turistico/b3_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photo-gallery .imagen5:hover {
   background-image: url(../imagen/turistico/b4_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photo-gallery .imagen6:hover {
   background-image: url(../imagen/turistico/b5_hover.jpg);
   border-radius: 5%;
   transform: scale(1.09);
   -webkit-transform: scale(1.09);
   -moz-transform: scale(1.09);
}

#photos>h1 {
   font-family: Montserrat-Black;
   font-size: 50px;
   color: #ff4d4d;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

@media screen and (max-width: 500px){
    article:first-child {
        width: 100% ;
        float: none;
        height: auto !important;
    }
    article:first-child > h1 {
        width: 100%;
        font-size: 55px;
    }
    article:first-child > p {
        margin: 0 auto !important;
        width: 100% !important;
        margin-bottom: 50px !important;
        font-size: 23px;
    }
    article:first-child > img {
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    article:nth-child(2) {
        height: auto !important;
        margin-top: 0px !important;
        margin-bottom: 20px;
    }
    article:last-child > h1{
        font-size: 35px !important;
    }
    article:nth-child(2) > h1 {
        margin-top: 120px;
        font-size: 30px;
    }
    article:nth-child(2) > img {
        float: none;
        margin: 0 auto !important;
        display: block;
    }
    article:nth-child(2) > p{
        width: 100% !important;
        margin-top: 50px!important;
    }
    article:nth-child(2) > p:nth-child(4){
        margin-top: 0px !important;
    }
    header img{
        margin:0 auto;
        display: block;
    }
    .navFixe{       
        position: relative !important;
        z-index: 1;
    }
    .nav{
        display: block;
        position: relative;
    }
    .nav li{
        width: 100%;
    }
    .nav li ul{
        width: 100%;
        z-index: 0;
        position: relative;
        transition: 0.7s;
    }
    #slider-wrapper{
        height: 250px;
        overflow: hidden;
        z-index: 0;
    }
    #slider{
        width: 100%;
        height: 250px;
        z-index: 0;

    }
    .contenido{
        float: left !important;
        width: 100% !important;
        background: #ff4d4d;
        height: auto !important;
    }
    .contenido input{
        margin-right: 17px !important;
        width: 90% !important;
        margin-bottom: 5px;
    }
    .content-search{
        width: 100%;
        margin-top: 50px !important;
    }
    footer{
        display: block;
        clear: both;
        position: relative !important;
    }
    main{
        position: relative;
        border: 1px solid white;
        overflow: hidden;
    }
    main > img{
        margin-top: 30px !important;
        margin-bottom: 28px !important;
    }
    main > h1 {
        margin-bottom: 20px;
    }
    .resta > .imagen {
        width: 100%;
    }
    .resta > .texto{
        width: 100%;
    }
    .resta > .texto > h2{
        margin-top: 10px;
    }
    .nota{
        float: left;
    }
    .notaletra{
        float: left;
    }
    .precio{
       margin-right: -20px;
    }
    .valoracion{
        margin-top: -40px !important;
    }
    #slider p:hover{
        font-size: 20px;
        padding: 15px 0px;
    }
    #photo-gallery{
        width: 70%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1440px){
    .slider{
        height: 500px;
    }
    article:first-child {
        height: 540px;
    }
    article:first-child > h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    article:first-child > p {
        margin-left: 8%;
        width: 60%;
        margin-right: 20px;
    }
    article:first-child > img {
        margin-top: -30px;
        width: 250px;
        height: 250px;
    }
    article:nth-child(2) {
        height: 430px;
    }
    article:nth-child(2) > h1{
        margin-top: -50px;
        margin-bottom: 60px;
    }
    article:nth-child(2) > img {
        margin-top: -10px;
        margin-left: 8%;
        margin-right: 5%;
        width: 250px;
        height: 250px;
    }
    article:nth-child(2) > p{
        text-align: center;
        width: 60%;
        margin: 0px;
    }
    article:nth-child(2) > p:nth-child(4){
        padding-top: 30px;
    }
}

@media screen and (max-width: 1024px){
    .slider{
        height: 400px;
    }
    article:first-child {
        height: 500px;
    }
    article:first-child > p {
        margin-left: 50px;
        width: 60%;
        margin-right: 20px;
    }
    article:first-child > img {
        margin-top: 20px;
        width: 220px;
        height: 220px;
    }
    article:nth-child(2) {
        margin-top: -40px;
        height: 540px;
    }
    article:nth-child(2) > h1 {
        margin-top: 0px;
    }
    article:nth-child(2) > img {
        margin-top: 30px;
        margin-left: 70px;
        margin-right: 70px;
        width: 220px;
        height: 220px;
    }
    article:nth-child(2) > p{
        text-align: center;
        width: 56%;
        margin: 0px;
    }
}